<div class="md:w-1/5 px-4">
  <nav class="px-2">
    <a
      href="/"
      class="
        mt-1
        group
        flex
        items-center
        px-2
        py-2
        text-base
        leading-6
        font-semibold
        hover:text-blue-500
      "
    >
      <svg
        class="mr-4 h-6 w-6"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"
        />
      </svg>
      Anasayfa
    </a>
    <a
      href="/hashtags"
      class="
        mt-1
        group
        flex
        items-center
        px-2
        py-2
        text-base
        leading-6
        font-semibold
        hover:text-blue-500
      "
    >
      <svg
        class="mr-4 h-6 w-6"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path>
      </svg>

      Keşfet
    </a>
    <a
      href="/user/{{ current_user.username }}"
      class="
        mt-1
        group
        flex
        items-center
        px-2
        py-2
        text-base
        leading-6
        font-semibold
        hover:text-blue-500
      "
    >
      <svg
        class="mr-4 h-6 w-6"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
        ></path>
      </svg>
      Profil
    </a>

    <button
      class="
        bg-blue-400
        w-48
        mt-5
        hover:bg-blue-600
        text-white
        font-bold
        py-2
        px-4
        rounded-full
      "
    >
      Tweet
    </button>
  </nav>
</div>
